.doctor-task-two{
    .animation-one{
        position: absolute;
        top: 300px;
        left: 800px;
    }

    .animation-two{
        position: absolute;
        top: 35.5%;
        width: 120px;
        left: 150px;

    }
}